.container{
    display: flex;
    justify-content: space-between;
}
.ul ul  li {
    display: inline;
    margin: 40px;
}
.main{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 50px;
    
}
body{
 


}
.button{
    margin-left: 20px;
    margin: 30px;
}

.box1{
    width: 200px;
    margin-top: 10%;
    background-color: green;
    }
    .box2{
        width: 200px;
        margin-top: 10%;
    
        background-color: rgb(0, 23, 128);
        }
        .box3{
            width: 200px;
            margin-top: 10%;
    
            
            background-color: rgb(128, 0, 17);
            }
    
            .box4{
                width: 200px;
                margin-top: 10%;
    
                background-color: rgb(128, 0, 43);
                }
        i{
            font-size: 50px;
         margin-left: 10px;
         margin-top: 10px;
         color: black;
    
        }
        h3{
            text-align: center;
        }
        h2{
            text-align: center;
        }
        button{
      margin-left: 50%;
        }
        .card{
            background-color: green;
            height: 150px;
        }
